<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MongoDb" connectionString="mongodb://localhost:27017/FileCabinet" />
		<add name="ADO" connectionString="Data Source=PC1-5514;Initial Catalog=FileCabinet;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>
